<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>

<body>

    <body>
        <div>
            <div id='messages'></div>
            <div>
                <input type="text" id="from" placeholder="Choose a nickname" />
            </div>
            <br>
            <div>
                <button id="connect">Connect</button>
                <button id="disconnect" disabled="disabled">
                    Disconnect
                </button>
            </div>
            <br />
            <div id="conversationDiv">
                <input type="text" id="text" placeholder="Write a message..." />
                <button id="sendMessage">Send</button>
                <p id="response"></p>
            </div>
        </div>

    </body>

    <script th:src="@{/webjars/stomp-websocket/2.3.1/stomp.min.js}"></script>
    <script th:src="@{/webjars/sockjs-client/1.1.2/sockjs.js}" type="text/javascript"></script>

    <script th:src="@{./js/handlers.js}" type="text/javascript"></script>
    <script th:src="@{./js/listeners.js}" type="text/javascript"></script>
    <script th:src="@{./js/view.js}" type="text/javascript"></script>

</html>